@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

.section {
    position: relative;
    .title {
        margin-top: 80px;
        color: #FFCF52;
        font-family: Ristretto Pro;
        font-size: 70px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 3.5px;
        text-transform: uppercase;
        margin-bottom: 51px;
    }

    .RedefineContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 500px;
        height: 60%;
        @media screen and (max-width: 700px) {
            padding: 0 10px;
            max-width: 100%;
        }
    }

    .image {
        position: absolute;
        bottom: 0px;
        right: 0;
    
        @media screen and (max-width: 1300px) {
            position: relative;
            width: 100%;
            right: 0;
            height: auto;
            bottom: 0;
            margin-bottom: 20px;
        }
    }
}