@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

.section {
    position: relative;

    .image {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 100vh;

        @media screen and (max-width: 1300px) {
            position: relative;
            width: 100%;
            height: auto;
        }
    }

    .RedefineContainer {
        display: flex;
        margin-top: 250px;
        justify-content: space-around;
        @media screen and (max-width: 700px) {
            flex-direction: column;
            padding: 0 10px;
            margin-top: 36px;
        }
    }

    .title {
        margin-top: 76px;
        color: #FFCF52;
        font-family: Ristretto Pro;
        font-size: 70px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 3.5px;
        text-transform: uppercase;

        @media screen and (max-width: 1300px) {
            text-align: center;
            max-width: 300px;
            width: 100%;
            margin: 0 auto;
            margin-top: 90px;
            margin-bottom: 15px;
        }
    }

    .subtitle {
        color: #FFCF52;
        font-family: Manrope;
        font-size: 19px;
        font-style: normal;
        font-weight: 300;
        line-height: 35px;
        max-width: 360px;
        width: 100%;
        @media screen and (max-width: 1300px) {
            text-align: center;
            margin: 0 auto;
        }
    }
}