.section {
    .image {
        position: absolute;
        height: 100vh;
        left: -20vw;
        top: 0px;

        @media screen and (max-width: 1500px) {
            top: 0;
            left: -100px;
        }

        @media screen and (max-width: 700px) {
            position: relative;
            height: auto;
            width: 100%;
            top: -100px;
            left: 0;
        }

        @media screen and (max-width: 400px) {
            margin-bottom: 0;
        }
    }

    .title {
        margin-top: 76px;
        color: #FFF;
        font-family: Ristretto Pro;
        font-size: 70px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 3.5px;
        text-transform: uppercase;
        width: 270px;
        @media screen and (max-width: 1300px) {
            margin-bottom: 20px;
        }
    }
}